body {
    background-position: top center;
    background-size: cover;
    background-color: #E2D69E;
    margin: 0px;
}


.main-menu-text {
    padding-left: 29vw;
    padding-right: 29vw;
    font-size: 3vh;
}


.main-menu-text h1 {
    font-size: 10vh;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0px;
    padding-block-start: 0.67em;
}

.main-menu-text p {
    padding-top: 0.45vh;
    padding-bottom: 0.45vh;
}

.main-menu-text .image {
    height: 25vh;
    max-height: 25vh;
    width: 33.3333333vh;
    max-width: 33.3333333vh;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}


.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-enable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}


.background-image {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background-position: top center;
    background-size: cover;
    background-image: url("../img/Website Background.png");
    background-repeat: no-repeat;
}

header {

}